body {
    font-family: 'Open Sans';
    font-weight: 400;
    width: 100%;
    height: 100%;
    


}

/*glabal-menu-css/sections*/

/*every (li) in the menu and landing page*/
article.primary-nav-bar {
    padding: 0px 40px 20px 20px;
    background-color: #fff0ed;
    display: flex;
align-items: center;
    flex-direction: row;
    justify-content: space-between;

   
}

.primary-nav-bar>nav>ul>li {
    list-style: none;





    /*flex-direction: row;
width: 100%;*/

}

.primary-nav-bar>nav>ul {
    display: flex;
    margin-top: 3.5rem;
}

.primary-nav-bar__logoandheader {
   
}

.navegation_header {
    font-size: 2.5rem;
    font-weight: 300;
   /* box-sizing: content-box;*/
    display: inline;

   
    

    
}

ul {
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    padding-bottom: 0.9rem;
    padding-top: 0.9rem;
}


.primary-nav-bar__link {
    font-size: 1.31rem;
    font-weight: 400;
    margin-left: 2rem;
    display: flex;

}

a {
    color: #393939;
    text-decoration: none;
}

.primary-nav-bar>nav>ul>li:last-child a {
    color: #5bacc3;
}

section.hot-drinks,
.pastries {
    background-color: #fff0ed;
    
}

section.cold-drinks {
    background-color: #f7f7f7;
}


.logo,
.img-content {
    width: 3.1rem;
}

/*landing page-css-sections*/
.header {
    background-color: #fff0ed;
}

section.our-products {
    font-size: 32px;
    box-sizing: content-box;
    background-size: cover;
    align-items: center;
    background-color: #f7f7f7;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    width: 100%;

}


section.discount-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

section.footer {
    background-color: #FFF0ED;
   padding: 20px;
    
}