.title,
.header__menu {
    font-size: 3.75rem;
    font-weight: 300;
    /*  margin: auto;*/


}

.title {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.header {
    background-image: url(../assets/images/coffeebeans-hero.png);
    background-position: right 25% bottom 70%;
    display: flex;
    background-repeat: no-repeat;
    background-size: 35vh, cover;
    padding-right: 40rem;
    height: calc(.50*100vw);
    box-sizing: content-box;
    min-width: 3rem;
    


}

.hero-text__container {
    margin-right: 5rem;
    margin-left: 8rem;
    box-sizing: content-box;
    background-size: cover;
    display: flex;
    width: 35rem;
    height: 25rem;
    flex-direction: column;
    position: relative;
    top: 12rem;
}

.drinks-name,
.footer-address__title,
.footer-social__title,
.footer-hours__title {
    font-size: 2rem;
    font-weight: 300;
}

p.coffee-description {
    font-size: 1.1rem;
    font-weight: 400;
    padding-bottom: 1.5rem;
}

.card__content>div>.drinks-name {
    margin-top: 0px;
    margin-bottom: 0px;
}

.coffee-description__price,
.coffee-description__quantity {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}

p.coffee-description__price {
    color: #5bacc3;
    font-weight: bold;

}

.coffee-description__quantity {
    color: #909090;
    font-size: 1.12rem;
}

.discount--section__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 100%;*/
    justify-content: space-between;
}

.discount--text {
    display: flex;
    justify-content: center;

    background-color: #393939;
    color: white;
    font-size: 2.8rem;
    font-weight: 400 bold;
    margin-right: 5rem;
    margin-left: 5rem;
    background-size: contain;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 1.25rem;
}

.discount--section__content__text {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
    margin: 5rem;


}

.img--content__tiltedcan {
    margin-right: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22rem;
    height: 22rem;
    background-image: url(../assets/images/coldbrewbackground.png);
    background-color: #fff0ed;
    background-size: cover;
    

}

.discount--section__images {
    display: flex;
    padding: 1rem 1rem 1rem 0rem;
    justify-content: space-between;

}

p>span {
    font-weight: bolder;
}

.our-products__container {
    margin-bottom: 5rem;
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;

}

.card {

    min-height: 15em;
    margin-left: 1.5rem;
    margin-right: 4rem;
    border-radius: 10px;
    box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
    padding-bottom: 0%;
    background-size: cover;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    text-align: center;

}

.card__image {
    background-color: white;
    padding: 2.5rem;
}

.img {

    margin: 1.25rem;

}

.card__content {
    background-color: #fff0ed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    justify-content: space-evenly;

}

.card__content>p.coffee-description__price {
    text-align: right;
    margin-left: 0px;
    font-size: 3rem;


}

.card__content {
    height: 70%;
    width: 100%;
}

.card--content__sub {
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    background-color: #5bacc3;
    color: white;
    border-style: none;
    font-size: 1.3rem;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    width: 180px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;

}

.button__special {
    background-color: #5bacc3;
    color: white;
    border-style: none;
    font-size: 1.3rem;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    width: 180px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5rem;
    text-align: center;
}

.button.discount {}

.footer__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 80%;
}

.footer-hours,
.footer-address,
.footer-social {
    line-height: 1;

}

.footer>footer>.footer__content>div.footer-hours>p {

    margin-top: 0;
}

.footer>footer>.footer__content>div.footer-address>p {
    line-height: 1.7;
    margin-top: 0;
}