

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
@keyframes glowbar {
  0%{
    background-color: #23f7f3;
    color:rgb(255, 255, 255);
  }
  100%{
    background: #696132;;
    color: #ffffff;
  }
  
}


